body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url('background.png');
    */background-size: cover;
    background-position: center;
}

.section{
    margin: auto;
    height: 720px;
}

.section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 2%;
}

.section p{
    text-align: center;
}

.section2 p{
    text-align: justify;
    padding:5% 20%;
    font-size: large;
}

.section4{
    margin: auto;
}

.section4 img{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section3{
    padding: 5%;
}

.section3 p{
    text-align: center;
    font-size: x-large;
}

.footer ul{
    list-style-type: none;
    text-align: center;
}

.footer ul li{
    display: inline;
    padding: 0 1%;
}

.footer ul li a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 600px){
    .section{
        margin: auto;
        height: 360px;
    }

    .section img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        padding-top: 10%;
    }

    .section4 img{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
	
	.section2 p{
		text-align: justify;
		padding:5% 10%;
		font-size: medium;
	}
}